<div class="row bg-light" style="height: 600px">
	<div class="container">
		<h1 class="text-centr primary">All Caterory</h1>
		<% @categories.each do |category| %>
			<p><%= category.title %></p>
		<% end %>
	</div>
</div>